<!-- Page Content -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Services Section -->
  <section id="services" class="services-section">
      <div class="container">
          <div class="row">

                      <div class="col-lg-12">
                          <h1 class="page-header">Venues</h1>
                      </div>

                      <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-xs-6 thumb">
                          <a class="thumbnail" href="/cuvee">
                              <h2 class="img-responsive"  alt="">Cuvee</h2>
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                          <a class="thumbnail" href="/shay">
                              <h2 class="img-responsive"  alt="">Shay</h2>
                          </a>
                      </div>
                      <!-- <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                          <a class="thumbnail" href="#">
                              <h2 class="img-responsive"  alt="">Bar Name</h2>
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                          <a class="thumbnail" href="#">
                              <h2 class="img-responsive"  alt="">Bar Name</h2>
                          </a>
                      </div> -->
                      
                  </div>
      </div>
  </section>

<div class="container">
  <hr>
  <br>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Today's Best Chicago Deals</h2>
            <p class="lead">Browse our current deals, and buy your spot with the click of a button.</p>
            
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <% @tables.each do |table| %>

            <% unless table.purchased == true %>

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
                    <!-- <hr> -->
                    <h3><%= table.location %></h3>
                    <h4><%= table.address %></h4>
                    <p><%= table.description %></p>
                    <%= form_tag charges_path do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                        <label class="amount">
                          <span>Amount: $<%= table.price %>.00</span>
                        </label>
                      </article>
                      <input type="hidden" name="price" value=<%= table.price %>>
                      <input type="hidden" name="description" value="<%= table.location %>">
                      <input type="hidden" name="table_id" value=<%= table.id %>>

                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="A Spot on the List"
                              data-amount=<%= table.price * 100 %>
                              data-locale="auto"
                              data-billing-address=true>

                              </script>

                    <% end %>
                    <hr>

                </div>

            <% end %>

        <% end %>

    </div>

</div>
<!-- /.container -->

</body>
