<br>
<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<%= simple_form_for @table do |f| %>
		
			<%= f.input :datetime, as: :date %>
		  <%= f.input :location %>
		  <%= f.input :address %>
		  <%= f.input :description, placeholder: 'Optional' %>
		  <%= f.input :price %>
		  <%= f.button :submit %>
		<% end %>
	</div>
</div>