<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<hr>
		<p>
		  <strong>Location:</strong>
		  <%= @table.location %>
		</p>
		 
		<p>
		  <strong>Address:</strong>
		  <%= @table.address %>
		</p>
		<p>
		  <strong>Descripton:</strong>
		  <%= @table.description %>
		</p>
		<p>
		  <strong>Price:</strong>
		  <%= @table.price %>
		</p>
		<br>
		<%= button_to "Edit", edit_table_path, method: :get %>
	</div>
</div>